/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

/* body {
  padding: 80px;
} */

/* a {
  color:#a9a9a9;
}

a:hover {
  color: #ffffff;
}

a:active {
  color: #640000;
} */
