<div class="container">
  <div class="card">
    <article class="card-body">
      <h4 class="card-title text-center mb-4 mt-1">Admin workplace</h4>
      <hr>
      <ngb-tabset [destroyOnHide]="false" justify="fill">
  
        <!-- 1. tab -->
        <ngb-tab title="Model vozila" class="ngbTabTitle">
          <ng-template ngbTabContent>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </ng-template>
        </ngb-tab>

                <!-- 2. tab -->
        <ngb-tab title="Marka vozila" class="ngbTabTitle">
          <ng-template ngbTabContent>
            <h5 style="text-align:center">Dodaj marku vozila</h5>
            <div class="row">
              <div class="col-md-5">
            <form name="form" (ngSubmit)="carMarkForm.form.valid && OnSubmitMark(mark, image)" #carMarkForm="ngForm" novalidate>

      
              <!-- Car mark -->
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fas fa-car"></i> </span>
                  </div>
      
                  <input id="mark" name="mark" class="form-control" required minlength="3" [(ngModel)]="carmarkService.carMark.Mark" ngModel #mark="ngModel"
                    placeholder="Add new mark" type="text" />
                  <!-- <input id="mark" name="mark" class="form-control" required minlength="3" ngModel #mark="ngModel"
                    placeholder="Add new mark" type="text" autofocus/> -->

                </div>
                <div class="form-group">
                  <div *ngIf="mark.invalid && (mark.dirty || mark.touched)" class="alert alert-danger">
                    <div *ngIf="mark?.errors.required">
                      Mark is required.
                    </div>
                    <div *ngIf="mark?.errors.minlength">
                      Mark must be at least 3 characters long.
                    </div>
                  </div>
                </div>
              </div>

              <!-- Image -->
              <div class="form-group">
                <div class="input-group">
                  <!-- <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="far fa-images"></i> </span>
                  </div> -->
            <br>
            <!-- <app-image-upload [cropperSettings]="cropperSettings" [imageUrl]="imageURL" [rounded]="true" [percent]="percent" [done]="done"
                (uploadImage)="onFileSelected($event)"></app-image-upload> -->

                  <img [src]="imageUrl"  style="width:250px; height:200px"> 
                  <input type="file" #image accept="image/*" [name]="setImageValue" (change)="handleFileInput($event.target.files)">

                  <!-- <input id="image" name="image" class="form-control" required minlength="3" [(ngModel)]="carmarkService.carMark.Image" ngModel #image="ngModel"
                    placeholder="Add image" type="text"/> -->
                  <!-- <input id="image" name="image" class="form-control" required minlength="3" ngModel #image="ngModel"
                    placeholder="Add new image" type="text" autofocus/> -->

                </div>
                <!-- <div class="form-group">
                  <div *ngIf="image.invalid && image.value==''" class="alert alert-danger">
                    <div *ngIf="image?.errors.required">
                      Image is required.
                    </div>
                  </div>
                </div> -->
              </div>
       
              <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block"
                (click)="OnSubmitMark(carMarkForm)"
                  [disabled]="carMarkForm.form.invalid"> Add / Edit mark </button>
              </div>
            </form>
      
          </div>

          <div class="col-md-7">
            <table class="table table-striped table-hover table-bordered">
            <tr>
              <th style="text-align:center">Znak</th>
              <th style="text-align:center">Putanja</th>
              <th style="text-align:center">Ime</th>
            </tr>
              <tr *ngFor="let carMark of allCarMarks">
                <td (click)="populateMarkForm(carMark)"><img [src]="createImagePath(carMark.Image)" style="width:40px; height:40px"></td>
                <td (click)="populateMarkForm(carMark)">{{carMark.Image}}</td>
                <td (click)="populateMarkForm(carMark)">{{carMark.Mark}}</td>
                <td style="text-align:center"><button (click)="populateMarkForm(carMark)" class="btn btn-sm btn-outline-primary">Edit</button></td>
                <td style="text-align:center"><button (click)="deleteCarMark(carMark)" class="btn btn-sm btn-outline-danger">Delete</button></td>
              </tr>
            </table>
      
          </div>
          </div>
          </ng-template>
        </ngb-tab>

                <!-- 3. tab -->
        <ngb-tab title="Proizvođač vozila" class="ngbTabTitle">
          <ng-template ngbTabContent>
            <h5 style="text-align:center">Dodaj proizvođača vozila</h5>
            <div class="row">
              <div class="col-md-5">
            <form name="form" (ngSubmit)="carForm.form.valid && OnSubmit(carForm)" #carForm="ngForm" novalidate>
      
      
              <!-- Car mark -->
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fas fa-car"></i> </span>
                  </div>
      
                  <input id="carName" name="carName" class="form-control" required minlength="3" [(ngModel)]="carService.car.CarName" ngModel #carName="ngModel"
                    placeholder="Add new car" type="text"/>
                </div>
                <div class="form-group">
                  <div *ngIf="carName.invalid && (carName.dirty || carName.touched)" class="alert alert-danger">
                    <div *ngIf="carName?.errors.required">
                      Name is required.
                    </div>
                    <div *ngIf="carName?.errors.minlength">
                      Name must be at least 3 characters long.
                    </div>
                  </div>
                </div>
              </div>
              
       
              <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block"
                  [disabled]="carForm.form.pristine || carForm.form.invalid"> Add / Edit car </button>
              </div> <!-- form-group// -->
            </form>
      
          </div>
          <div class="col-md-7">
            <table class="table table-striped table-hover table-bordered">
              <th style="text-align:center" >Ime</th>
              <tr *ngFor="let car of allCars">
                <td (click)="populateForm(car)">{{car.CarName}}</td>
                <td style="text-align:center"><button (click)="populateForm(car)" class="btn btn-sm btn-outline-primary">Edit</button></td>
                <td style="text-align:center"><button (click)="deleteCar(car)" class="btn btn-sm btn-outline-danger">Delete</button></td>
              </tr>
            </table>
      
          </div>
          </div>
                </ng-template>
        </ngb-tab>
      </ngb-tabset>
      
    </article>
  </div>
</div>