    <!-- Page Content -->
    <div class="container">
  
      <div class="row">
  
        <!-- /.col-lg-3 -->
  
        <div class="col-lg-12">
  
          <!-- /.card -->
      <div class="card-deck">
          <div class="card card-outline-secondary my-4">
            <div class="card-header" style="text-align:center">
              <h4>Čestitamo</h4>
            </div>
            <div class="card-body" style="text-align:center">
              Uspešno ste obavili kupovinu. Uskoro ćemo Vam se javiti.
      </div>
  </div>
</div>
  
          <!-- /.card -->
  
        </div>
        <!-- /.col-lg-9 -->
  
      </div>
  
    </div>
    <!-- /.container -->