    <div>
      <h1 style="text-align:center" class="responsive-text">Online prodavnica auto delova</h1>
      <h1 style="text-align:center" class="responsive-text">Isporuka brza, cena povoljna</h1>
        <img src="../assets/auto-parts.jpeg" class="responsive-image" >
    </div>
    <div class="container">
      <div class="card">
        <article class="card-body">
          <h4 class="card-title text-center mb-4 mt-1">Admin workplace</h4>
          <hr>
          <ngb-tabset [destroyOnHide]="false" justify="fill">
    
            <!-- 1. tab -->
            <ngb-tab title="Delovi u prodavnici" class="ngbTabTitle">
              <ng-template ngbTabContent>
                <hr>
                
    
                <div class="d-flex align-content-start">
                    <button type="button" style="text-align:center" class="btn btn-primary btn-block"
                    (click)="createProduct()"> Dodaj novi deo </button>
                </div>
                <hr>
                <h5>Filtriraj po vozilu</h5>
                <div class="row justify-content-center">
    
                <div class="col">
                
                  <!-- Car mark -->
                  <div class="form-group">
                    <div>Izaberi po marku vozila</div>
                
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fas fa-car"></i> </span>
                      </div>
                
                    <select 
                    name="carMarkSelect" 
                    id="carMarkSelect" 
                    type="number" 
                    class="form-control" 
                    [(ngModel)]="carMarkSelect" 
                    (ngModelChange)="markToNumber()"> 
                      <option select  disabled value="">Izaberi marku vozila.</option>
                      <option *ngFor="let mark of allCarMarks" [ngValue]="mark.Id">{{mark.Mark}}</option>
                   </select>
                  </div>
                  </div>
                
                          <!-- Car Model Type -->
                          <div class="form-group">
                            <div *ngIf="carTypeSelect !== ''">
                              Izaberi po modelu vozila
                            </div>
                      
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fas fa-car"></i> </span>
                              </div>
                        
                            <select 
                            name="carModelTypeSelect" 
                            id="carModelTypeSelect" 
                            type="number" 
                            class="form-control" 
                            disabled="{{tipValidan}}"
                            [(ngModel)]="carModelTypeSelect" 
                            (ngModelChange)="modelTypeToNumber()">
                              <option disabled value="">Izaberi model vozila.</option>
                              <option *ngFor="let carModelType of filteredCarModelTypes" [ngValue]="carModelType.Id">{{carModelType.CarModelTypeName}}</option>
                           </select>
                          </div>
                          </div>
                  
                
                  </div>
                  <div class="col">
                
                        <!-- Car type -->
                        <div class="form-group">
                          <div *ngIf="carTypeSelect !== ''">
                            Izaberi po tipu modela vozila
                          </div>
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text"> <i class="fas fa-car"></i> </span>
                            </div>
                      
                          <select 
                          name="carTypeSelect" 
                          id="carTypeSelect" 
                          type="number" 
                          class="form-control" 
                          disabled="{{markaValidna}}"
                          [(ngModel)]="carTypeSelect" 
                          (ngModelChange)="typeToNumber()">
                            <option select  disabled value="">Izaberi tip vozila.</option>
                            <option *ngFor="let carType of filteredCarTypes" [ngValue]="carType.Id">{{carType.Model}}</option>
                         </select>
                        </div>
                        </div>
                    
                  
                        <!-- Car Model Type Engine-->
                        <div class="form-group">
                          <div *ngIf="carModelTypeSelect !== ''">
                            Izaberi po motoru modela vozila
                          </div>
                    
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text"> <i class="fas fa-car"></i> </span>
                            </div>
                      
                          <select 
                          name="carModelTypeEngineSelect" 
                          id="carModelTypeEngineSelect" 
                          type="number" 
                          class="form-control" 
                          disabled="{{modelTipValidan}}"
                          [(ngModel)]="carModelTypeEngineSelect" 
                          (ngModelChange)="modelTypeEngineToNumber()">
                            <option disabled value="">Izaberi motor vozila.</option>
                            <option *ngFor="let carModelTypeEngine of filteredCarModelTypeEngines" [ngValue]="carModelTypeEngine.Id">{{carModelTypeEngine.CarModelTypeEngineName}}</option>
                         </select>
                        </div>
                        </div>
                </div>
                </div>
                
                <hr>
    
    <!-- <div class="d-flex align-content-start"> -->
      <!-- <h5>Ili filtriraj po tipu dela</h5> -->
            
      <div class="row justify-content-center">
    
   
      <div class="col">
        <button type="button" style="text-align:center" class="btn btn-primary btn-block"
        (click)="filterReset()"> Filter reset </button>
    
        </div>
    
      </div>
                  <hr>
    
                <div class="row">
              <div class="col-md-12">
                <table class="table table-striped table-hover table-bordered table-fit table-sm">
                <tr>
                  <th style="text-align:center">Marka</th>
                  <th style="text-align:center">Model</th>
                  <th style="text-align:center">Tip modela</th>
                  <th style="text-align:center">Motor tipa modela</th>
                  <th style="text-align:center">Grupa dela</th>
                  <th style="text-align:center">Naziv dela</th>
                  <th style="text-align:center">Kataloški broj</th>
                  <th style="text-align:center">Na stanju</th>
                  <th style="text-align:center">Cena</th>
                  <th style="text-align:center">Slika</th>
                  <th colspan="3" style="text-align:center">Komande</th>
    
                </tr>
                  <tr *ngFor="let product of pageOfItems" (click)="viewProduct(product)">
                    <td style="text-align:center; word-break:break-word;">{{product.CarMark.Mark}}</td>
                    <td style="text-align:center; word-break:break-word;">{{product.CarModel.Model}}</td>
                    <td style="text-align:center; word-break:break-word;">{{product.CarModelType.CarModelTypeName}}</td>
                    <td style="text-align:center; word-break:break-word;">{{product.CarModelTypeEngine.CarModelTypeEngineName}}</td>
                    <td style="text-align:center; word-break:break-word;">{{product.ProductTypeModel.ProductType}}</td>
                    <td style="text-align:center; word-break:break-word;">{{product.ProductName}}</td>
                    <td style="text-align:center; word-break:break-word;">{{product.CatalogNumber}}</td>
                    <td style="text-align:center; word-break:break-word;">{{product.OnLager}}</td>
                    <td style="text-align:center; word-break:break-word;">{{product.Price}}</td>
                    <td style="text-align:center"><img [src]="createProductImagePath(product.Image)" style="width:40px; height:40px"></td>
                    <td style="text-align:center"><button (click)="updateProductImage(product)" class="btn btn-sm btn-outline-primary">Change image</button></td>
                    <td style="text-align:center"><button (click)="updateProduct(product)" class="btn btn-sm btn-outline-primary">Edit</button></td>
                    <td style="text-align:center"><button (click)="deleteProduct(product)" class="btn btn-sm btn-outline-danger">Delete</button></td>
                  </tr>
                </table>
                <div class="pagination justify-content-center">
                  <jw-pagination id="pagionationItem" class="pagionationItem" [items]="productService.productList" (changePage)="onChangePage($event)"></jw-pagination>
              </div>
              </div>
            </div>
    
              </ng-template>
            </ngb-tab>
    
          </ngb-tabset>
          
        </article>
      </div>
    </div>  
      <!-- Page Content -->
      <div class="container">
    
        <div class="row">
    
          <!-- /.col-lg-3 -->

          <div class="col-lg-12">
    
            <!-- <td style="text-align:center; word-break:break-word;">{{product.CarMark.Mark}}</td>
            <td style="text-align:center; word-break:break-word;">{{product.CarModel.Model}}</td>
            <td style="text-align:center; word-break:break-word;">{{product.CarModelType.CarModelTypeName}}</td>
            <td style="text-align:center; word-break:break-word;">{{product.CarModelTypeEngine.CarModelTypeEngineName}}</td>
            <td style="text-align:center; word-break:break-word;">{{product.ProductTypeModel.ProductType}}</td>
            <td style="text-align:center; word-break:break-word;">{{product.ProductName}}</td>
            <td style="text-align:center; word-break:break-word;">{{product.CatalogNumber}}</td>
            <td style="text-align:center; word-break:break-word;">{{product.OnLager}}</td>
            <td style="text-align:center; word-break:break-word;">{{product.Price}}</td>
            <td style="text-align:center"><img [src]="createProductImagePath(product.Image)" style="width:40px; height:40px"></td> -->


            <!-- /.card -->
        <div class="card-deck">
          <div *ngFor="let product of pageOfItems" (click)="viewProduct(product)">
            <div class="card card-outline-secondary my-4">
              <div class="card-header" style="text-align:center">
                {{product.ProductName}}
              </div>
              <div class="card-body">
                <img [src]="createProductImagePath(product.Image)" style="width:250px; height:200px"> 
                <hr>
                  <p style="text-align:center">
                    <button (click)="updateImage(carMark)" class="btn btn-sm btn-outline-primary">Update image</button>
                  </p>
                <hr>
                <p>Some text here.</p>
                <small class="text-muted">Posted by Admin by date</small>
                <hr>
                <p style="text-align:center">
                  <button (click)="updateCarMark(carMark)" class="btn btn-sm btn-outline-primary">Edit</button> 
                  &nbsp;
                  <button (click)="deleteCarMark(carMark)" class="btn btn-sm btn-outline-danger">Delete</button>
                </p>
                <hr>
                <div style="text-align: center">
                  <a href="#" class="btn btn-success">Leave a Review</a>
                </div>
              </div>
            </div>
          </div>
    
        </div>
        <div class="pagination justify-content-center">
          <jw-pagination id="pagionationItem" class="pagionationItem" [items]="productService.productList" (changePage)="onChangePage($event)"></jw-pagination>
      </div>

    
            <!-- /.card -->
    
          </div>
          <!-- /.col-lg-9 -->
    
        </div>
    
      </div>
      <!-- /.container -->


