<h5 style="text-align:center">Dodaj drugu sliku dela za {{product.ProductName}}</h5>

<div class="container">

  <!-- OVO JE VAZNO ZA CENTRIRANJE FORME bootstrap/4.0.0 -->
    <div class="row justify-content-center">
  <div class="col-md-6">

    <form name="form" (ngSubmit)="productForm.form.valid && OnUpdateProduct(image)" #productForm="ngForm" novalidate>


  <!-- Image -->
  <div class="form-group">
    <div class="input-group justify-content-center">
<br>
      <img [src]="imageUrl"  style="width:250px; height:200px"> 
      <input type="file" name="image" #image="ngModel" ngModel accept="image/*" required (change)="handleFileInput($event.target.files)">
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
      </div>
    </div>
    <div class="form-group">
      <div *ngIf="image.invalid && image.dirty" class="alert alert-danger">
           <div *ngIf="image?.errors.required">
            Slika je obavezna.
          </div>
        </div>
      </div>
 
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-primary btn-block"
      [disabled]="productForm.form.invalid || buttondisabled"> Promeni sliku </button>
  </div>
</form>
</div>
</div>
</div>


