<!-- Footer -->
<footer class="page-footer font-small mdb-color pt-4" style="background-color: #b20000;">

  <!-- Footer Links -->
  <div class="container text-center text-md-left" style="color:white">

    <!-- Footer links -->
    <div class="row text-center text-md-left mt-3 pb-3">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Auto Tina</h6>
        <p>Auto Tina je prodavnica auto delova i servis automobila.</p>
      </div>
      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Informacija</h6>
        <p>
          <a href="#!">Plaćanje</a>
        </p>
        <p>
          <a href="#!">Transport</a>
        </p>
        <p>
          <a href="#!">Politika privatnosti</a>
        </p>
        <p>
          <a href="#!">Uslovi korišćenja</a>
        </p>
        <p>
          <a href="#!">O nama</a>
        </p>
        <p>
          <a href="#!">Uslovi korišćenja</a>
        </p>
      </div>
      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Moj nalog</h6>
        <p>
          <a href="#!">Moj nalog</a>
        </p>
        <p>
          <a href="#!">Porudžbine</a>
        </p>
        <p>
          <a href="#!">Adrese</a>
        </p>
        <p>
          <a href="#!">Korpa za kupovinu</a>
        </p>
        <p>
          <a href="#!">Lista želja</a>
        </p>
      </div>

      <!-- Grid column -->
      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Kontakt</h6>
        <p>
          <i class="fas fa-home mr-3"></i> Hunjadi Janoša 16, <br> 23206 Zrenjanin</p>
        <p>
          <i class="fas fa-envelope mr-3"></i>
          <a [href]="mailto('erneautotina@mts.rs', 'newSubject')"></a>
          <a href="mailto:erneautotina@mts.rs">erneautotina@mts.rs</a>
          </p>
        <p>
          <i class="fas fa-phone mr-3"></i>
          <a href="tel:023528401">023 528 401</a>
        </p>
        <p>
          <i class="fas fa-mobile-alt mr-3"></i>
          <a href="tel:063539478">063 539 478</a>
        </p>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Footer links -->

    <hr>

    <!-- Grid row -->
    <div class="row d-flex align-items-center">

      <!-- Grid column -->
      <div class="col-md-7 col-lg-8">

        <!--Copyright-->
        <p class="text-center text-md-left">© 2018 Copyright:
          <a href="https://www.linkedin.com/in/sztojk%C3%B3-j%C3%B3zsef-61a31137/">
            <strong> Stojko Jožef</strong>
          </a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-5 col-lg-4 ml-lg-0">

        <!-- Social buttons -->
        <div class="text-center text-md-right">
          <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
              <a class="btn-floating btn-sm rgba-white-slight mx-1">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn-floating btn-sm rgba-white-slight mx-1">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn-floating btn-sm rgba-white-slight mx-1">
                <i class="fab fa-google-plus-g"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn-floating btn-sm rgba-white-slight mx-1">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

</footer>
<!-- Footer -->
