th, td {
    text-align: center;
    vertical-align: middle;
}

/* a.page-link {
    cursor: pointer !important;
} */

/* .pagination.justify-content-center {
    cursor: pointer;
} */

/* .jw.pagination.pagionationItem.ul.pagination.li.page-item.number-item.a.page-link
{
    cursor: pointer;
} */

/* .jw.pagination.pagionationItem {
    cursor: pointer;
} */


#pagionationItem:hover {
    cursor: pointer;
    cursor: hand;
}

/* li.page-item.previous-item.disabled {
    cursor: pointer;
} */

/* .table-fit
.table-bordered
.table-hover
.table-striped
 {
    width: 1px;
} */