<h5 style="text-align:center">Izmeni model vozila</h5>

<div class="container">

  <!-- OVO JE VAZNO ZA CENTRIRANJE FORME bootstrap/4.0.0 -->
    <div class="row justify-content-center">
  <div class="col-md-6">

    <form name="form" (ngSubmit)="carTypeForm.form.valid && OnUpdateCarType(carMarkId, type.value)" #carTypeForm="ngForm" novalidate>

      <!-- Car type -->
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fas fa-car"></i> </span>
          </div>
    
        <select 
        name="markSelect" 
        id="markSelect" 
        type="number" 
        class="form-control" 
        [(ngModel)]="carMarkId" 
        (ngModelChange)="markToNumber()">
          <option disabled value="">{{ carType.CarMark }}</option>
          <option *ngFor="let mark of allCarMarks" [ngValue]="mark.Id">{{mark.Mark}}</option>
       </select>
      </div>
      </div>
    
    
      <!-- Car model -->
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fas fa-car"></i> </span>
          </div>
    
                <!-- [(ngModel)]="carTypeService.carType.Type"  -->
    
          <input 
          id="type" 
          name="type" 
          class="form-control" 
          required minlength="3" 
          ngModel 
          [(ngModel)]="carTypeService.carType.Model"
          #type="ngModel"
          placeholder="Upiši novi model" type="text" />
    
        </div>
        <div class="form-group">
          <div *ngIf="type.invalid && (type.dirty || type.touched)" class="alert alert-danger">
            <div *ngIf="type?.errors.required">
              Mora se uneti tip automobila.
            </div>
            <div *ngIf="type?.errors.minlength">
              Tip mora imati minimalno 3 karaktera.
            </div>
          </div>
        </div>
      </div>
    
      <div class="row justify-content-center form-group">
        <div class="col ">
        <button type="submit" class="btn btn-success btn-block"
          [disabled]="carTypeForm.form.invalid || buttondisabled"> Promeni model vozila </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-danger btn-block" (click)="goBack()"> Nazad </button>
        </div>
      </div>
  
    
    </form>
    </div>
</div>
</div>


