<h5 style="text-align:center">Dodaj novi tip delova</h5>

<div class="container">

  <!-- OVO JE VAZNO ZA CENTRIRANJE FORME bootstrap/4.0.0 -->
    <div class="row justify-content-center">
  <div class="col-md-6">

    <form name="form" (ngSubmit)="partTypeForm.form.valid && OnSubmitPartType(partType, image)" #partTypeForm="ngForm" novalidate>

  <!-- Part Types -->
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text"> <i class="fas fa-car"></i> </span>
      </div>

      <input 
      id="partType" 
      name="partType" 
      class="form-control" 
      required minlength="3" 
      #partType="ngModel"
      ngModel 
      placeholder="Upiši novu tip delova" type="text" />

    </div>
    <div class="form-group">
      <div *ngIf="partType.invalid && (partType.dirty || partType.touched)" class="alert alert-danger">
        <div *ngIf="partType?.errors.required">
          Mora se uneti tip delova.
        </div>
        <div *ngIf="partType?.errors.minlength">
          Tip mora imati minimalno 3 karaktera.
        </div>
      </div>
    </div>
  </div>

    <!-- Image -->
    <div class="form-group">
      <div class="input-group justify-content-center">
  <br>
        <img [src]="imageUrl"  style="width:250px; height:200px"> 
        <input type="file" name="image" ngModel #image="ngModel" accept="image/*" required (change)="handleFileInput($event.target.files)">
        <!-- <div class="progress" *ngIf="progress">
          <div class="progress-bar" [style.width]="progress + '%'">{{progress}}%</div>
        </div> -->
      </div>
  
      <div class="form-group">
       <div *ngIf="image.invalid && image.dirty" class="alert alert-danger">
            <div *ngIf="image?.errors.required">
             Morate odabrati sliku.
           </div>
         </div>
       </div>
    </div>

    <div class="row justify-content-center">
      <div class="col ">
      <button type="submit" class="btn btn-primary btn-block"
        [disabled]="partTypeForm.form.invalid || buttondisabled"> Dodaj novi tip dela </button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-danger btn-block" (click)="goBack()"> Nazad </button>
      </div>
    </div>
    

</form>
</div>
</div>
</div>


